In [ ]:
import pandas as pd

datos = {
    "Nombre": ["Juan", "María", "Pedro", "Ana", "Luis"],
    "Edad": [25, 30, 35, 40, 45],
    "Ciudad": ["Madrid", "Barcelona", "Valencia", "Sevilla", "Bilbao"]
}

df = pd.DataFrame(datos)

print(df)

  Nombre  Edad     Ciudad
0   Juan    25     Madrid
1  María    30  Barcelona
2  Pedro    35   Valencia
3    Ana    40    Sevilla
4   Luis    45     Bilbao

In [ ]:
import pandas as pd
import numpy as np

# Generar 50 filas con 5 columnas de datos aleatorios
data = {
    'Edad': np.random.randint(18, 65, 50),
    'Ingreso': np.random.uniform(20000, 100000, 50),
    'Género': np.random.choice(['Hombre', 'Mujer'], 50),
    'Ciudad': np.random.choice(['Madrid', 'Barcelona', 'Valencia'], 50),
    'Fecha_Nacimiento': pd.date_range('1960-01-01', periods=50)
}

# Crear un DataFrame de pandas
df = pd.DataFrame(data)

# Guardar el DataFrame como un archivo CSV
df.to_csv('datos_ejemplo.csv', index=False)

In [ ]:
df = pd.read_csv('/content/datos_ejemplo.csv')
df

    Edad       Ingreso  Género     Ciudad Fecha_Nacimiento
0     25  49008.503146  Hombre     Madrid       1960-01-01
1     56  68669.333336  Hombre     Madrid       1960-01-02
2     47  27276.942440   Mujer   Valencia       1960-01-03
3     51  81632.835858   Mujer   Valencia       1960-01-04
4     28  86431.451125  Hombre   Valencia       1960-01-05
5     59  74840.851379   Mujer   Valencia       1960-01-06
6     20  67053.491713   Mujer   Valencia       1960-01-07
7     63  51069.416644  Hombre     Madrid       1960-01-08
8     27  83241.298054  Hombre   Valencia       1960-01-09
9     18  92853.305732  Hombre  Barcelona       1960-01-10
10    62  97179.600694   Mujer   Valencia       1960-01-11
11    31  84115.064496  Hombre  Barcelona       1960-01-12
12    48  78190.479944   Mujer   Valencia       1960-01-13
13    45  66331.162030   Mujer  Barcelona       1960-01-14
14    43  94608.270012  Hombre     Madrid       1960-01-15
15    45  61120.958561  Hombre   Valencia       1960-01-16
16    62  72194.690015   Mujer  Barcelona       1960-01-17
17    51  69187.574396   Mujer  Barcelona       1960-01-18
18    23  79156.856397   Mujer     Madrid       1960-01-19
19    25  70970.078645   Mujer     Madrid       1960-01-20
20    40  71715.738919   Mujer   Valencia       1960-01-21
21    51  82908.783161   Mujer   Valencia       1960-01-22
22    63  56922.888740   Mujer   Valencia       1960-01-23
23    34  40812.457706  Hombre  Barcelona       1960-01-24
24    43  34113.170611   Mujer   Valencia       1960-01-25
25    22  91295.861963   Mujer   Valencia       1960-01-26
26    28  94232.717720   Mujer   Valencia       1960-01-27
27    56  83367.052223   Mujer  Barcelona       1960-01-28
28    21  51940.440759   Mujer     Madrid       1960-01-29
29    26  41110.754348   Mujer  Barcelona       1960-01-30
30    46  81745.651583   Mujer     Madrid       1960-01-31
31    31  69241.266608   Mujer   Valencia       1960-02-01
32    48  88815.944436   Mujer     Madrid       1960-02-02
33    64  75187.953108   Mujer     Madrid       1960-02-03
34    32  91115.318098  Hombre   Valencia       1960-02-04
35    27  52299.061526  Hombre  Barcelona       1960-02-05
36    23  48179.838257   Mujer     Madrid       1960-02-06
37    41  41367.367013  Hombre   Valencia       1960-02-07
38    47  44671.691894  Hombre     Madrid       1960-02-08
39    50  82353.412561  Hombre     Madrid       1960-02-09
40    50  31630.528050   Mujer  Barcelona       1960-02-10
41    22  99089.616677   Mujer   Valencia       1960-02-11
42    24  43954.419530  Hombre  Barcelona       1960-02-12
43    26  31932.315153   Mujer  Barcelona       1960-02-13
44    21  51720.945122   Mujer     Madrid       1960-02-14
45    63  83519.285590   Mujer  Barcelona       1960-02-15
46    33  94708.905647  Hombre  Barcelona       1960-02-16
47    51  36370.955557   Mujer   Valencia       1960-02-17
48    36  45566.901062   Mujer  Barcelona       1960-02-18
49    58  94445.469178  Hombre     Madrid       1960-02-19

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Edad              50 non-null     int64
 1   Ingreso           50 non-null     float64
 2   Género            50 non-null     object
 3   Ciudad            50 non-null     object
 4   Fecha_Nacimiento  50 non-null     object
dtypes: float64(1), int64(1), object(3)
memory usage: 2.1+ KB

In [ ]:
df.head()

    Edad       Ingreso  Género     Ciudad Fecha_Nacimiento
0     20  53135.269523  Hombre   Valencia       1960-01-01
1     31  75206.055828  Hombre  Barcelona       1960-01-02
2     38  41045.387970  Hombre  Barcelona       1960-01-03
3     63  72504.009281   Mujer   Valencia       1960-01-04
4     33  57103.974409  Hombre   Valencia       1960-01-05
5     19  65988.984869   Mujer     Madrid       1960-01-06
6     51  67445.447360   Mujer   Valencia       1960-01-07
7     51  39628.593412  Hombre   Valencia       1960-01-08
8     29  60787.339849  Hombre     Madrid       1960-01-09
9     58  65126.223990   Mujer     Madrid       1960-01-10
10    19  58799.207634  Hombre     Madrid       1960-01-11
11    23  22597.056228   Mujer   Valencia       1960-01-12
12    42  50446.879904  Hombre   Valencia       1960-01-13
13    40  52645.364744  Hombre  Barcelona       1960-01-14
14    35  63634.231359   Mujer   Valencia       1960-01-15
15    35  27497.822444   Mujer   Valencia       1960-01-16
16    39  80780.639027   Mujer     Madrid       1960-01-17
17    30  57262.012863   Mujer     Madrid       1960-01-18
18    53  96626.400918   Mujer  Barcelona       1960-01-19
19    20  23634.100244  Hombre  Barcelona       1960-01-20
20    24  79642.987116   Mujer   Valencia       1960-01-21
21    36  86154.724749   Mujer  Barcelona       1960-01-22
22    51  80879.355845   Mujer   Valencia       1960-01-23
23    26  68269.810556  Hombre  Barcelona       1960-01-24
24    44  83253.558004   Mujer  Barcelona       1960-01-25
25    47  51009.689491   Mujer  Barcelona       1960-01-26
26    27  96913.347176  Hombre   Valencia       1960-01-27
27    41  90622.863624   Mujer  Barcelona       1960-01-28
28    38  43778.166983  Hombre     Madrid       1960-01-29
29    45  96662.527047  Hombre     Madrid       1960-01-30
30    35  74898.843660  Hombre     Madrid       1960-01-31
31    59  89932.773053   Mujer     Madrid       1960-02-01
32    52  83542.305635  Hombre  Barcelona       1960-02-02
33    28  54156.581159   Mujer  Barcelona       1960-02-03
34    57  66569.978559  Hombre  Barcelona       1960-02-04
35    55  56190.938734   Mujer   Valencia       1960-02-05
36    44  92480.246031   Mujer  Barcelona       1960-02-06
37    46  79544.888303  Hombre   Valencia       1960-02-07
38    35  39174.580144   Mujer     Madrid       1960-02-08
39    34  55869.063776   Mujer   Valencia       1960-02-09
40    32  68831.904973   Mujer  Barcelona       1960-02-10
41    30  47925.783708  Hombre   Valencia       1960-02-11
42    61  32898.010421  Hombre  Barcelona       1960-02-12
43    29  80501.922937   Mujer  Barcelona       1960-02-13
44    36  93955.865292  Hombre     Madrid       1960-02-14
45    36  58166.425240  Hombre   Valencia       1960-02-15
46    60  94821.562421  Hombre     Madrid       1960-02-16
47    27  73710.551170  Hombre   Valencia       1960-02-17
48    41  91801.706176  Hombre   Valencia       1960-02-18
49    48  74050.295884  Hombre     Madrid       1960-02-19

In [ ]:
df.tail(10)

    Edad       Ingreso  Género     Ciudad Fecha_Nacimiento
40    32  68831.904973   Mujer  Barcelona       1960-02-10
41    30  47925.783708  Hombre   Valencia       1960-02-11
42    61  32898.010421  Hombre  Barcelona       1960-02-12
43    29  80501.922937   Mujer  Barcelona       1960-02-13
44    36  93955.865292  Hombre     Madrid       1960-02-14
45    36  58166.425240  Hombre   Valencia       1960-02-15
46    60  94821.562421  Hombre     Madrid       1960-02-16
47    27  73710.551170  Hombre   Valencia       1960-02-17
48    41  91801.706176  Hombre   Valencia       1960-02-18
49    48  74050.295884  Hombre     Madrid       1960-02-19

In [ ]:
df.describe()

            Edad       Ingreso
count  50.000000     50.000000
mean   39.060000  66362.125194
std    12.076981  20167.599249
min    19.000000  22597.056228
25%    30.000000  53390.597432
50%    37.000000  67007.712959
75%    47.750000  80854.676640
max    63.000000  96913.347176

In [ ]:
df.shape

(50, 5)

In [ ]:
df_edad_max = df['Edad'].max()
df_edad_max

64

In [ ]:
df['Ciudad'].unique()

array(['Madrid', 'Valencia', 'Barcelona'], dtype=object)

In [ ]:
df['Género'].value_counts()

Género
Mujer     32
Hombre    18
Name: count, dtype: int64

In [ ]:
df['Ciudad'].unique()

array(['Madrid', 'Valencia', 'Barcelona'], dtype=object)

In [ ]:
df['Ciudad']

0        Madrid
1        Madrid
2      Valencia
3      Valencia
4      Valencia
5      Valencia
6      Valencia
7        Madrid
8      Valencia
9     Barcelona
10     Valencia
11    Barcelona
12     Valencia
13    Barcelona
14       Madrid
15     Valencia
16    Barcelona
17    Barcelona
18       Madrid
19       Madrid
20     Valencia
21     Valencia
22     Valencia
23    Barcelona
24     Valencia
25     Valencia
26     Valencia
27    Barcelona
28       Madrid
29    Barcelona
30       Madrid
31     Valencia
32       Madrid
33       Madrid
34     Valencia
35    Barcelona
36       Madrid
37     Valencia
38       Madrid
39       Madrid
40    Barcelona
41     Valencia
42    Barcelona
43    Barcelona
44       Madrid
45    Barcelona
46    Barcelona
47     Valencia
48    Barcelona
49       Madrid
Name: Ciudad, dtype: object

In [ ]:
df.sort_values('Edad', ascending=False)

    Edad       Ingreso  Género     Ciudad Fecha_Nacimiento
33    64  75187.953108   Mujer     Madrid       1960-02-03
45    63  83519.285590   Mujer  Barcelona       1960-02-15
7     63  51069.416644  Hombre     Madrid       1960-01-08
22    63  56922.888740   Mujer   Valencia       1960-01-23
16    62  72194.690015   Mujer  Barcelona       1960-01-17
10    62  97179.600694   Mujer   Valencia       1960-01-11
5     59  74840.851379   Mujer   Valencia       1960-01-06
49    58  94445.469178  Hombre     Madrid       1960-02-19
27    56  83367.052223   Mujer  Barcelona       1960-01-28
1     56  68669.333336  Hombre     Madrid       1960-01-02
47    51  36370.955557   Mujer   Valencia       1960-02-17
3     51  81632.835858   Mujer   Valencia       1960-01-04
21    51  82908.783161   Mujer   Valencia       1960-01-22
17    51  69187.574396   Mujer  Barcelona       1960-01-18
39    50  82353.412561  Hombre     Madrid       1960-02-09
40    50  31630.528050   Mujer  Barcelona       1960-02-10
32    48  88815.944436   Mujer     Madrid       1960-02-02
12    48  78190.479944   Mujer   Valencia       1960-01-13
38    47  44671.691894  Hombre     Madrid       1960-02-08
2     47  27276.942440   Mujer   Valencia       1960-01-03
30    46  81745.651583   Mujer     Madrid       1960-01-31
15    45  61120.958561  Hombre   Valencia       1960-01-16
13    45  66331.162030   Mujer  Barcelona       1960-01-14
14    43  94608.270012  Hombre     Madrid       1960-01-15
24    43  34113.170611   Mujer   Valencia       1960-01-25
37    41  41367.367013  Hombre   Valencia       1960-02-07
20    40  71715.738919   Mujer   Valencia       1960-01-21
48    36  45566.901062   Mujer  Barcelona       1960-02-18
23    34  40812.457706  Hombre  Barcelona       1960-01-24
46    33  94708.905647  Hombre  Barcelona       1960-02-16
34    32  91115.318098  Hombre   Valencia       1960-02-04
31    31  69241.266608   Mujer   Valencia       1960-02-01
11    31  84115.064496  Hombre  Barcelona       1960-01-12
26    28  94232.717720   Mujer   Valencia       1960-01-27
4     28  86431.451125  Hombre   Valencia       1960-01-05
35    27  52299.061526  Hombre  Barcelona       1960-02-05
8     27  83241.298054  Hombre   Valencia       1960-01-09
29    26  41110.754348   Mujer  Barcelona       1960-01-30
43    26  31932.315153   Mujer  Barcelona       1960-02-13
0     25  49008.503146  Hombre     Madrid       1960-01-01
19    25  70970.078645   Mujer     Madrid       1960-01-20
42    24  43954.419530  Hombre  Barcelona       1960-02-12
36    23  48179.838257   Mujer     Madrid       1960-02-06
18    23  79156.856397   Mujer     Madrid       1960-01-19
41    22  99089.616677   Mujer   Valencia       1960-02-11
25    22  91295.861963   Mujer   Valencia       1960-01-26
28    21  51940.440759   Mujer     Madrid       1960-01-29
44    21  51720.945122   Mujer     Madrid       1960-02-14
6     20  67053.491713   Mujer   Valencia       1960-01-07
9     18  92853.305732  Hombre  Barcelona       1960-01-10

In [ ]:
df['Edad'].std()

14.445732368885606

In [ ]:
df = pd.read_csv('/content/datos_demograficos.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Nombre  48 non-null     object
 1   País    48 non-null     object
 2   Edad    48 non-null     int64
 3   Género  48 non-null     object
 4   Peso    48 non-null     int64
 5   Altura  48 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.4+ KB

In [ ]:
df

                Nombre                  País  Edad     Género  Peso  Altura
0           Juan Pérez                España    28  Masculino    80    1.75
1           Ana García             Argentina    35   Femenino    65    1.60
2     Carlos Rodríguez                México    22  Masculino    75    1.80
3          Maria López              Colombia    40   Femenino    70    1.65
4       Pedro González                Brasil    32  Masculino    85    1.85
5       Laura Martínez                 Chile    26   Femenino    58    1.62
6       Miguel Sánchez                  Perú    38  Masculino    90    1.90
7         Sofia Torres             Venezuela    29   Femenino    60    1.58
8      David Fernández               Ecuador    31  Masculino    78    1.78
9         Isabel Ramos               Uruguay    24   Femenino    55    1.55
10    Francisco Moreno               Bolivia    36  Masculino    82    1.82
11          Elena Ruiz              Paraguay    27   Femenino    62    1.60
12         José Garcia  República Dominicana    30  Masculino    88    1.88
13      Marta González                Panamá    25   Femenino    57    1.57
14      Luis Hernandez             Guatemala    34  Masculino    84    1.84
15  Patricia Rodriguez              Honduras    23   Femenino    56    1.56
16     Alberto Jimenez             Nicaragua    39  Masculino    92    1.92
17       Beatriz Lopez           El Salvador    28   Femenino    59    1.59
18      Ricardo Garcia            Costa Rica    33  Masculino    86    1.86
19   Adriana Rodriguez                Panamá    27   Femenino    63    1.61
20  Fernando Hernandez             Guatemala    31  Masculino    80    1.80
21      Gabriela Lopez              Honduras    26   Femenino    58    1.58
22      Sergio Jimenez             Nicaragua    35  Masculino    85    1.85
23       Carmen Garcia            Costa Rica    29   Femenino    62    1.60
24    Manuel Hernandez           El Salvador    32  Masculino    82    1.82
25        Olivia Lopez                Panamá    25   Femenino    55    1.55
26       Daniel Garcia             Guatemala    28  Masculino    78    1.78
27       Ana Hernandez              Honduras    24   Femenino    57    1.57
28       Pablo Jimenez             Nicaragua    31  Masculino    86    1.86
29        Sofia Garcia            Costa Rica    27   Femenino    60    1.60
30    Miguel Hernandez           El Salvador    30  Masculino    84    1.84
31         Laura Lopez                Panamá    26   Femenino    59    1.59
32   Alejandro Jimenez             Nicaragua    33  Masculino    82    1.82
33        Maria Garcia            Costa Rica    29   Femenino    61    1.61
34     David Hernandez           El Salvador    32  Masculino    88    1.88
35        Isabel Lopez                Panamá    28   Femenino    58    1.58
36    Francisco Garcia             Guatemala    31  Masculino    80    1.80
37     Elena Hernandez              Honduras    27   Femenino    62    1.60
38        José Jimenez             Nicaragua    35  Masculino    86    1.86
39        Marta Garcia            Costa Rica    30   Femenino    63    1.61
40      Luis Hernandez           El Salvador    34  Masculino    84    1.84
41    Patricia Jimenez             Nicaragua    29   Femenino    59    1.59
42      Alberto Garcia            Costa Rica    33  Masculino    82    1.82
43   Beatriz Hernandez           El Salvador    28   Femenino    61    1.61
44     Ricardo Jimenez             Nicaragua    32  Masculino    88    1.88
45      Adriana Garcia            Costa Rica    27   Femenino    60    1.60
46  Fernando Hernandez           El Salvador    31  Masculino    86    1.86
47    Gabriela Jimenez             Nicaragua    26   Femenino    59    1.59

In [ ]:
df[(df['Edad']>=30) & (df['País']=='Guatemala')]

                Nombre       País  Edad     Género  Peso  Altura
14      Luis Hernandez  Guatemala    34  Masculino    84    1.84
20  Fernando Hernandez  Guatemala    31  Masculino    80    1.80
36    Francisco Garcia  Guatemala    31  Masculino    80    1.80